@this(main: views.html.main)

@(listForm: Form[forms.ListForm.Data], groups: Seq[(String, String)], persons: Seq[Person], user: models.User)(implicit request: RequestHeader, messages: Messages, flash: Flash)

    @implicitFieldConstructor = @{
        b3.horizontal.fieldConstructor("col-md-2", "col-md-10")
    }

    @main(Messages("list"), Some(user)) {
        <div class="container">
            @flash.get("message").map { message =>
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @message
                </div>
            }
            <div class="well">
                <h1>@Messages("list.subject")</h1>
                @mail.listMail(persons)

                <hr>
                <fieldset>
                @helper.form(action = routes.Email.sendList()) {
                    @helper.CSRF.formField
                    @b3.text(listForm("email"), Symbol("_hiddenLabel") -> Messages("email"), Symbol("placeholder") -> Messages("email"), Symbol("class") -> "form-control input-lg")
                    @b3.select(listForm("group"), options = groups, Symbol("_hiddenLabel") -> Messages("group"), Symbol("_default") -> Messages("group.select.new"), Symbol("class") -> "form-control input-lg")
                    <div class="form-group">
                        <div>
                            <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary">
                                <span class="glyphicon glyphicon glyphicon-ok"></span>
                                @Messages("list.send")
                            </button>
                        </div>
                    </div>
                }
                </fieldset>
            </div>
        </div>
    }
