@this(main: views.html.main)

@(messageForm: Form[forms.MessageForm.Data], user: models.User)(implicit request: RequestHeader, messages: Messages, flash: Flash)

@implicitFieldConstructor = @{
    b3.inline.fieldConstructor()
}

@main(Messages("message"), Some(user)) {
    <div class="container">
        @flash.get("message").map { message =>
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @message
            </div>
        }
        <div class="well">
            <h1>@Messages("message.subject")</h1>
            @mail.messageMail(Messages("name"), "<< " + Messages("message") + " >>")

            <hr>
            <fieldset>
            @helper.form(action = routes.Email.sendMessage()) {
                @helper.CSRF.formField
                @b3.text(messageForm("subject"), Symbol("_hiddenLabel") -> Messages("subject"), Symbol("placeholder") -> Messages("subject"), Symbol("class") -> "form-control input-lg")
                @b3.textarea(messageForm("message"), Symbol("_hiddenLabel") -> Messages("message"), Symbol("placeholder") -> Messages("message"), Symbol("class") -> "form-control input-lg")
                @b3.submit(Symbol("class") -> "btn btn-lg btn-primary btn-block") {
                    <span class="glyphicon glyphicon glyphicon-ok"></span>
                    @Messages("message.send")
                }
            }
            </fieldset>
        </div>
    </div>
}
