@(user: models.User)(implicit messages: Messages, flash: Flash)

@main(Messages("email"), Some(user)) {
    <div class="container">
        @flash.get("message").map { message =>
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @message
            </div>
        }
        <div class="well">
            <h1>@Messages("email")</h1>

            <h2>@messages("distribution.send")</h2>
            <a class="btn btn-primary" href="@routes.Email.sendDistribution" role="button">@Messages("distribution.send")</a>
        </div>
    </div>
}