@(organisations: Seq[Organisation], user: models.User)(implicit messages: Messages)

@main(Messages("organisations"), Some(user)) {
    <div class="container">
        <h1>@Messages("organisations")</h1>
        <a href="@routes.Organisations.add">
            <button id="btn-organisation" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon glyphicon-plus"></span>
                @Messages("organisation.add")
            </button>
        </a>

        <table class="table table-striped">
            <tr>
                <th>@Messages("organisation")</th>
            </tr>
            @for(organisation <- organisations) {
                <tr>
                    <td>
                        <a href="@routes.Organisations.organisation(organisation.id.toString)">@organisation.name</a>
                    </td>
                </tr>
            }
        </table>
    </div>
}