@this(main: views.html.main, webJarsUtil: org.webjars.play.WebJarsUtil)

@(registration: Registration, registrationForm: Form[forms.RegistrationForm.Data], categories: Seq[(String, String)], secondChoices: Seq[(String, String)], user: models.User)(implicit request: RequestHeader, messages: Messages)

@scripts = {
    @webJarsUtil.locate("bootstrap-switch", "bootstrap3/bootstrap-switch.min.css").css()
    @webJarsUtil.locate("bootstrap-switch", "bootstrap-switch.min.js").script()
    <script type="application/javascript" src="@routes.Assets.at("javascripts/views/registration.js")"></script>
}

@implicitFieldConstructor = @{
    b3.horizontal.fieldConstructor("col-md-2", "col-md-10")
}

@main(Messages("registration"), Some(user), scripts) {
    <div class="container">
        <div class="well">
            @request.flash.get("error").map { msg =>
                <div class="alert alert-danger alert-error">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>@Messages("error")</strong> @msg
                </div>
            }
            <fieldset>
                <legend>@Messages("registration")</legend>
                @b3.form(action = routes.Registrations.update(registration.id.toString)) {
                    @helper.CSRF.formField
                    @b3.text(registrationForm("name"), Symbol("_label") -> Messages("name"), Symbol("value") -> registration.person.name, Symbol("disabled") -> true, Symbol("class") -> "form-control input-lg")
                    @b3.number(registrationForm("age"), Symbol("_label") -> Messages("age"), Symbol("value") -> registration.person.age, Symbol("disabled") -> true, Symbol("class") -> "form-control input-lg")
                    @b3.text(registrationForm("email"), Symbol("_label") -> Messages("email"), Symbol("value") -> registration.person.email, Symbol("disabled") -> true, Symbol("class") -> "form-control input-lg")
                    @b3.text(registrationForm("organisation"), Symbol("_label") -> Messages("organisation"), Symbol("value") -> registration.person.group.organisation.name, Symbol("disabled") -> true, Symbol("class") -> "form-control input-lg")
                    @b3.text(registrationForm("group"), Symbol("_label") -> Messages("group"), Symbol("value") -> registration.person.group.name, Symbol("disabled") -> true, Symbol("class") -> "form-control input-lg")
                    @b3.checkbox(registrationForm("friday"), Symbol("_label") -> Messages("friday.label"), Symbol("checked") -> registration.friday)
                    @b3.checkbox(registrationForm("saturday"), Symbol("_label") -> Messages("saturday.label"), Symbol("checked") -> registration.saturday)
                    @b3.checkbox(registrationForm("sorting"), Symbol("_label") -> Messages("sorting.label"), Symbol("checked") -> registration.sorting)
                    @b3.checkbox(registrationForm("selling"), Symbol("_label") -> Messages("selling.label"), Symbol("checked") -> registration.category.isDefined)
                    @b3.select(registrationForm("category"), options = categories, Symbol("_label") -> Messages("category.label"), Symbol("class") -> "form-control input-lg", Symbol("_default") -> Messages("category.select"), Symbol("value") -> registration.category.map(_.id).getOrElse(""), Symbol("required") -> false)
                    @b3.select(registrationForm("secondChoice"), options = secondChoices, Symbol("_label") -> Messages("second.choice.label"), Symbol("class") -> "form-control input-lg", Symbol("_default") -> Messages("second.choice.select"), Symbol("value") -> registration.secondChoice.map(_.id).getOrElse(""), Symbol("required") -> false)
                    @b3.checkbox(registrationForm("teamLeader"), Symbol("_label") -> Messages("team.leader.label"), Symbol("checked") -> registration.teamLeader)
                    @b3.submit(Symbol("class") -> "btn btn-lg btn-primary btn-block") {
                        <span class="glyphicon glyphicon glyphicon-ok"></span>
                        @Messages("save")
                    }
                }
                @b3.form(action = routes.Registrations.delete(registration.id.toString), Symbol("id") -> "delete-registration") {
                    @helper.CSRF.formField
                    @b3.submit(Symbol("class") -> "btn btn-lg btn-danger btn-block") {
                        <span class="glyphicon glyphicon glyphicon-remove"></span>
                        @Messages("delete")
                    }
                }
            </fieldset>
        </div>
    </div>
}
